.DS_Store
.goo.swp
.*out
/examples
/systems/
lib
bin
pyvenv.cfg
include
python_scripts/smart_contracts/
python_scripts/data/*/*/*.xml
python_scripts/duplicates/
*.pyc
*.log
*.x
tmp/*.in
*.vscode
01_data/*
python_scripts/data/*
python_scripts/macro-duplicates/*
txl10.8b.linux64/
all_functions_line_counted.p
python_scripts/RQ3/data
python_scripts/RQ3/old_data
python_scripts/RQ3/results_csv_1
