appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
dask==1.0.0
decorator==4.4.1
Flask==1.1.1
idna==2.8
ipython==7.10.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
MarkupSafe==1.1.1
mypy==0.740
mypy-extensions==0.4.3
NewlineJSON==1.0
numpy==1.17.4
pandas==0.25.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.1
ptyprocess==0.6.0
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
sqlalchemy-stubs==0.3
traitlets==4.3.3
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
